<div class="row">
  <div>
    <h2>Mi Experiencia Laboral</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Nombre de la Empresa 1</h5>
        <p><strong>Posición:</strong> Tu cargo</p>
        <p><strong>Período:</strong> Fecha de inicio - Fecha de fin</p>
        <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, repellendus iusto animi, consequuntur reiciendis rerum eum placeat reprehenderit nihil laboriosam quaerat delectus id illo eius debitis nam! Tenetur illum veritatis natus autem. Saepe alias similique excepturi deleniti omnis vero neque nulla aut itaque temporibus. Quidem autem ipsam repellendus sequi at eos ullam numquam exercitationem? Harum, iure? Maiores numquam asperiores nostrum eligendi nemo rem ipsam recusandae facilis quisquam exercitationem est sapiente repellat eaque dolores sed, vel perspiciatis aliquam cupiditate, odit vitae commodi nulla. Dolorum vitae fugit distinctio voluptatibus! Aliquid impedit ullam, fugit asperiores molestias neque aperiam vel at necessitatibus accusamus obcaecati?.</p>
      </li>
      <!-- Agrega más elementos de lista según sea necesario -->
    </ul>
  </div>
  </div>
  
