<div class="row">
<div class="col-xs-12 col-md-6 col-lg-2" >
  <h2>Mis proyectos</h2>
</div>
<div class="col-xs-12 col-md-6 col-lg-5" >
    <h2>proyecto-1</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae odio molestiae, consequuntur pariatur iure aspernatur eius quaerat fugiat provident possimus veniam sunt sed, consequatur quos, inventore ratione nostrum vero vel aliquid vitae doloremque. At ea corrupti minima earum. Magnam, tempore.</p>
    <img src="" alt="">
  </div>
  <div class="col-xs-12 col-md-6 col-lg-5" >
    <h2>proyecto-3</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae odio molestiae, consequuntur pariatur iure aspernatur eius quaerat fugiat provident possimus veniam sunt sed, consequatur quos, inventore ratione nostrum vero vel aliquid vitae doloremque. At ea corrupti minima earum. Magnam, tempore.</p>
    <img src="" alt="">
  </div>
</div>
