
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img id="foto_perfil" src="../../../assets/photo_perfil.png" class="img-fluid" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="blue">
            <p>De Lima Josias Germán</p>
            <p>Fullstack</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-8 col-lg-8" id="red">
            <h2 class="text-center">Hacerca de</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore delectus sunt perspiciatis voluptas ipsum libero commodi eveniet nesciunt in deserunt debitis voluptate voluptates veritatis ducimus quasi, ullam minima ex expedita perferendis quod itaque nemo. Cupiditate nobis quaerat esse eos illum deserunt, delectus dolorem, ipsum ducimus debitis et provident! Commodi possimus quos voluptatibus ullam aliquam, dolorum maiores qui distinctio quaerat ducimus.</p>
        </div>
    </div>

    

