.row{
  margin: 0rem;
  padding: 1rem;  
   background-color: #A2ACAF;
}
/* Para textos */
h2{
  font-size: 2rem;
  color: #2C4249;
  }
p{
    color: #2C4249;
    font-size: 1.5rem;
    text-align: center;
}
/* Para foto perfil */
.img-fluid{
margin: 0rem;
border-radius: 1%;
box-shadow: 2px 0px 70px;

}

/* Para dispositivos móviles */
@media (max-width: 767px) {
    #foto_perfil {
      width: 100%; /* Ajusta la imagen al ancho del contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
    }
  }
  
  /* Para tabletas */
  @media (min-width: 768px) and (max-width: 991px) {
    #foto_perfil {
      width: 100%; /* Ajusta la imagen a la mitad del ancho del contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
    }
  }
  
  /* Para dispositivos de escritorio */
  @media (min-width: 992px) {
    #foto_perfil {
      width: 90%; /* Ajusta la imagen a un cuarto del ancho del contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
    }
  }
 