<div class="row" *ngFor= "let education of educations">
  <div class="col-lg-12">
  
      <ul class="list-group">
        
        <li class="list-group-item ">
          <h2>Educación</h2>
          
          <div class="col text-center"> 
            <a class="btn btn-primary tooltips"
            data-placement="top"
            data-toogle="tooltips"
            data-original-title="Edit"
            > <i class="fa fa-pencil"> </i>
            </a>

            <a class="btn btn-danger tooltips"
            data-placement="top"
            data-toogle="tooltips"
            data-original-title="Delete"
            > <i class="fa fa-times"> </i>
            </a>
        </div>
        
        <div class="col-lg-12" id="Center"><img src="{{education.imgEdu}}" width="300rem"></div>
          <div class="col-lg-12" id="Center"> <p><strong>Titulo:</strong> {{education.tituloEdu}}</p></div>
          <div class="col-lg-12" id="Center"><p><strong>Período:</strong> {{education.fechaEdu}}</p></div>
          <div class="col-lg-12"><p><strong>Descripción:</strong> {{education.descEdu}}.</p></div>
        </li>
        <!-- Agrega más elementos de lista según sea necesario -->
      </ul>
    </div>
    
    </div>
   