.row{
  margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.card-footer{
    padding: 0;   
}

@media (max-width: 576px) {
    .card-personalizado {
      width: 100% !important;
      max-width: 100% !important;
    }
  
  }

