<section>
  <footer id="footer">
    <div class="container">
      <div class="copyright-wrap d-md-flex py-2">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright 2024 Powered by <strong><span>Josías De Lima</span></strong>.
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://github.com/GermanDelima" target="_blank" class="github"><i class="fa-brands fa-github icon-size"></i></a>
          <a href="https://www.linkedin.com/in/josíasgermándelima" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin icon-size"></i></a>
          <a href="https://Wa.me/5493765377531" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp icon-size"></i></a>
        </div>
      </div>
    </div>
  </footer>
</section>

